In [1]:
import pandas as pd
df = pd.read_csv("prefecture_population.csv", skiprows=14)
df.head()

,時間軸（年次） コード,時間軸（年次） 補助コード,時間軸（年次）,全国，都道府県，市区町村（2000年市区町村含む） コード,全国，都道府県，市区町村（2000年市区町村含む） 補助コード,全国，都道府県，市区町村（2000年市区町村含む）,/男女,総数,男,女
0,2020000000,NaN,2020年,00000,NaN,全国,NaN,"126,146,099","61,349,581","64,796,518"
1,2020000000,NaN,2020年,01000,NaN,北海道,NaN,"5,224,614","2,465,088","2,759,526"
2,2020000000,NaN,2020年,01100,NaN,札幌市,NaN,"1,973,395","918,682","1,054,713"
3,2020000000,NaN,2020年,01101,NaN,札幌市中央区,NaN,"248,680","112,853","135,827"
4,2020000000,NaN,2020年,01102,NaN,札幌市北区,NaN,"289,323","136,596","152,727"