In [ ]:
# 読み込み
import pandas as pd
df_all = pd.read_csv("population_data.csv")

In [ ]:
# 列名の確認
df_all.columns.tolist()

['時間軸（年次）',
 '全国，都道府県，市区町村（2000年市区町村含む） コード',
 '全国，都道府県，市区町村（2000年市区町村含む）',
 '総数',
 '男',
 '女']

In [ ]:
# 使いやすい列名に変更
df_all = df_all.rename(columns={
    "時間軸（年次）": "year",
    "全国，都道府県，市区町村（2000年市区町村含む） コード": "code",
    "全国，都道府県，市区町村（2000年市区町村含む）": "area_name"
})

df_all.columns.tolist()

['year', 'code', 'area_name', '総数', '男', '女']

In [ ]:
# 
df_tokyo = df_all[
    df_all["code"].str.startswith("13") &
    (df_all["code"] != "13000") &
    (df_all["code"] != "13100")
].copy()

df_tokyo["総数"] = df_tokyo["総数"].astype(int)
df_tokyo["男"] = df_tokyo["男"].astype(int)
df_tokyo["女"] = df_tokyo["女"].astype(int)

print(df_tokyo.shape)
df_tokyo.head()

(64, 6)

       year   code area_name      総数       男       女
1213  2020年  13101      千代田区   66680   33637   33043
1214  2020年  13102       中央区  169179   80931   88248
1215  2020年  13103        港区  260486  123410  137076
1216  2020年  13104       新宿区  349385  174822  174563
1217  2020年  13105       文京区  240069  115483  124586

In [21]:
df_pop_ranking = df_tokyo.sort_values("総数", ascending=False)
df_pop_least = df_tokyo.sort_values("総数", ascending=True)

print("【東京全体：人口が多い街 TOP5】")
print(df_pop_ranking[["area_name", "総数"]].head())
print("")
print("【東京全体：人口が少ない街 TOP5】")
print(df_pop_least[["area_name", "総数"]].head())

【東京全体：人口が多い街 TOP5】
     area_name      総数
1224      世田谷区  943664
1232       練馬区  752608
1223       大田区  748081
1235      江戸川区  697932
1233       足立区  695043

【東京全体：人口が少ない街 TOP5】
     area_name    総数
1275      青ヶ島村   169
1273      御蔵島村   323
1269       利島村   327
1271      神津島村  1855
1266       檜原村  2003